<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link href="../public/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<script src="../public/js/jquery.min.js"></script>
	<script  type="text/jsx" src="../public/js/home.js"></script>
    <script src="../public/build/react.js" ></script>
    <script src="../public/build/react-dom.js"></script>
   <script src="../public/build/JSXTransformer.js"></script>
   
</head>
<body>
 <div id="container"></div>

</body>

</html>